.title {
	text-align: center;
	font-size: 16px;
	font-family: helvetica;
	font-weight: bold;
	color: #AFC1CC;
	background-color: #517281;
	width: 100%;
}

#header {
	width: 100%;
	color: #F4D27A;
	text-align: center;
	font-family: helvetica;
	background-color: #7895A2;
}
body {
	background-color: #517281;
	margin:10px 5px 15px 20px;
}

h4 {
   font-family: helvetica, Verdana, sans-serif;
   color: #F4D27A;
}


a:link {
       color: #F4D27A;
       text-decoration: none;
}
a:visited {
          color: #517281;
          text-decoration: none; 
}

a:hover {
        color: #517281;
}

#button{
    border: 1px solid #F4D27A;
	border-radius: 5px;
	font-family: helvetica, Verdana, sans-serif;
	background-color: #AFC1CC;
	height: 30px;
	width: 70px;
	color: #AFC1CC
	text-align:center;
	display:  inline-block;
	margin:3px;
	padding: 0px;
	float: left;
}
nav {
	text-align: center;
	padding: 0px;
	margin: 0px;
	position: fixed;
}
p {
	font-family: Verdana;
	font-size: 12px;
	color: #AFC1CC;
}

.fluff {
   font-family: Verdana, sans-serif;
   color: #CCFF33;
 
}
ul {
	border: 2px;
	font-family: Verdana;
	color: #F4D27A;
	font-size: 12px;
	padding: 10px;
	margin: 10px;
}

img {
    border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;

}


#footer p {
	position: relative;
	background-color: #7895A2;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	text-align: center;
	color: #517281;
	width: 100%;
}


