#header {
	position: fixed;
	width: 100%;
        margin-top: 0.2em;
	background-color: FFFF00;
}

h4, #title {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Garamond, sans-serif;
	color: #ADA96E;
}

li {
 list-style-type: square;
}
a:link {
  color: green;
  text-decoration: none;
}
a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
	color: green;
}

#footer {
	position: relative;
	height: 50px;
	background-color: FFFF00;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #ADA96E;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
